@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html{
    font-size: 62.5%;
    }   
h1{
    color:black;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    }
.anuncio__box--white{
    text-align: center;
    background-color: white;
    font-size: 1.9rem;
    }
h2{
    color:black;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
}

h3{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
}

nav {
    background-color: rgb(195, 186, 133);
        }

            
main section p{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.fondoportada{
    background-image: url(../img/fotoportada.jpg);
    background-size: 1000px 300px;
}
main section h3{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2.3rem;
   }

.staff{
    background-color: rgb(240, 240, 203);
    width:90%;
    margin: auto;
    padding: 30px 30px;
    border: solid 2px rgb(195, 186, 133);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

footer{
    background-color: rgb(195, 186, 133);
}
footer{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
      }
footer h4{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
        }
footer h5{
    color: black;
    font-family:'Playfair Display', serif;
    font-size: 1.9rem
}

.text-right{
    text-align: right;
}
#logo{
    height: 100px;
    margin-left: 10%;
}

.foto{
    height: 550px;
    width: 550px;
}

.nosotros__art{
    height: 800px;
    margin: 50px;
    padding: 30px 30px;
    border: double 7px;
    display: inline-block;
}
.ancho__art{
    width: 300px;
}


.nav-link{
    color: black;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    padding: 20px;
}

.nav-link:hover{
    color: lightgrey
}
.icono_sm {
    height: 20px;
}

.box-h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
    transform: translate(20px -10px);
    cursor: pointer;
    transition: 2.8s;
}

.inicio{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.7 rem;
    font-family: 'Playfair Display', serif;
    justify-content: right;
    

}
.foto-inicio{
    width: 400px;
    height: 450px;
    padding-left: 30px;
    padding-right: 60px;
}

.contenedorGrid{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "tax main"
    "header header"
    "pie pie";
    
}

#nav{
    grid-area: nav;

}

#header{
    grid-area: header;

}

#tax{
    grid-area: tax;
   
}
#main{
    grid-area: main;

}

#pie{
    grid-area: pie;

}

@media (min-width 768px){
    #containerOne{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas: 
        "nav nav"
        "main tax"
        "pie pie";
    }

@media (min-width 1074px) {
    #containerOne{
        grid-template-columns: 20vw 80vw;
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas: 
        "nav nav"
        "main tax"
        "pie pie";
    
}         
    }

    }
}
